:root {
  --shadow: rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  font-family: monospace;
}

#home {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

#wrapper {
  height: 80vh;
  width: 80vw;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#wrapper.visible {
  display: flex;
}

#start {
  font-family: "Menlo", monospace;
  padding: 10px 20px;
  background-color: lavender;
  color: black;
  font-size: 20px;
  border-width: 0;
  border-radius: 8px;
  box-shadow: 0 0 0 var(--shadow);
  position: relative;
  top: 0px;
  transition: top 0.2s linear, box-shadow 0.2s linear;
}

#start:hover,
#start:active {
  top: -10px;
  box-shadow: 0px 20px 14px var(--shadow);
}

.box {
  width: 40px;
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
}

.box::after {
  width: 30px;
  height: 30px;
  background-color: var(--box-color, navy);
  content: "";
  display: block;
  border-radius: 8px;
  box-shadow: 0 0 0 var(--shadow);
  opacity: 0.1;
  transition: box-shadow 0.2s linear, opacity 0.3s linear, top 0.2s linear;
  position: relative;
  top: 0px;
}

.box.sibling-2::after {
  top: -5px;
  box-shadow: 0 5px 3px var(--shadow);
  opacity: 0.3;
}

.box.sibling-1::after {
  top: -9px;
  box-shadow: 0 10px 7px var(--shadow);
  opacity: 0.5;
}

/* Cannot use :hover because it doesn't work on mobile, and 
also it seems I cannot modify active element programatically */
.box.hover::after {
  top: -15px;
  box-shadow: 0px 20px 14px var(--shadow);
  opacity: 1;
}

button.mute {
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 50px;
  height: 50px;
  background-image: url("sound.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  border-radius: 50%;
  border: 0;
}

button.mute.muted::after {
  content: "X";
  font-family: monospace;
  color: rgb(150, 150, 150);
  font-size: 40px;
}

a {
  position: fixed;
  bottom: 50px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}